.home {
  background-image: url('image/file_0000000017bc62439a709d00be81e83d.png'); /* Ton image ici */
  background-size: cover;       /* L’image couvre toute la section */
  background-position: center;  /* Centrée */
  background-repeat: no-repeat; /* Pas de répétition */
  height: 100vh;                /* Hauteur égale à l’écran */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.services {
  background: linear-gradient(to bottom right, #0a0f29, #0d1b2a);
  color: white;
  padding: 80px 20px;
  text-align: center;
}
.portfolio {
  padding: 60px 20px;
  text-align: center;
  background: #f4f4f4;
}

/* SECTION CENTRÉE */
#services {
  text-align: center;
  padding: 60px 20px;
}

/* GRILLE DES CARDS */
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px;
  max-width: 900px;
  margin: auto; /* centre la grille */
}

/* STYLE DES CARDS */
.service-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
}

@media (max-width: 700px) {
  .services-container {
    grid-template-columns: 1fr; /* 1 card par ligne */
  }

  .service-card {
    text-align: center;
  }
}

